<section id="about" class="about position-relative">
    <div class="container container--about m-0 m-xxl-auto">
        <div class="align-items-center">
            <div class="">
                <p class="subheadline subheadline--grey">O firmie</p>
                <h1 class="headline headline--grey headline--about">Tworzymy <span>z&nbsp;pasją</span>
                </h1>
                <p class="description description--grey description--about">Każdy projekt to nowe wyzwanie.
                    Dlatego nasz zespół
                    tworzą
                    wykwalifikowani projektanci oraz architekci, których zadaniem jest rozpoznanie i realizacja
                    potrzeb każdego Klienta. Nasza specjalizacja to przestrzenie nowoczesne, które
                    charakteryzuje minimalizm, geometria i elegancka prostota. Tworzymy ogrody małoobsługowe,
                    dostosowane do współczesnego trybu życia.

                </p>
                <a href="#" class="button button--about">Poznaj nas bliżej<svg
                        class="animate__animated animate__fadeOutRight animate__infinite animate__slower ms-2"
                        width="16" height="16">
                        <use href="./images/icons.svg#icon-arrow-small-right"></use>
                    </svg></a>
            </div>
        </div>
    </div>
    <div class="about__no-slider">
        <img class="about__no-slider-photo" src="./images/about.png" alt="Budynek w stylu azjatyckim na tle palm"
            srcset="
        ./images/about.png 688w,
        ./images/about@2x.png 1376w,
        ./images/about@3x.png 2064w"
            sizes="(min-width: 1400px) 688px, (min-width: 1280px) 638px, (min-width: 1024px) 488px, (min-width: 992px) 448px, (min-width: 768px) 348px, (min-width: 576px) 230px, (min-width: 320px) 100vw, 100vw" />
    </div>
</section>