<section class="contact d-flex justify-content-center" id="contact">
    <div class="container container--contact d-flex justify-content-center m-0 p-0">
        <div
            class="contact__wrapper d-flex flex-wrap align-items-end justify-content-sm-center justify-content-md-between align-items-sm-center align-items-md-center align-items-lg-end">
            <h3 class="contact__headline">
                Zostańmy w&nbsp;kontakcie! <br /> Znajdziesz nas na&nbsp;<span>Instagramie</span>.
            </h3>
            <div class="d-flex d-md-inline align-items-center align-items-md-start">
                <p class="contact__description">Śledź nasze <br />najnowsze realizacje!</p>
                <a class="button button--instagram" href="#">Instagram</a>
            </div>
        </div>
    </div>
</section>