<footer class="footer">
    <div class="container p-0 container--footer">
        <div
            class="footer__wrapper footer__wrapper--border d-flex flex-column flex-md-row align-items-md-center justify-content-md-between">
            <a class="logo logo--footer mb-5 mb-md-0" href="index.html">
                <svg width="115" height="20">
                    <use href="./images/icons.svg#icon-logo">
                    </use>
                </svg>
            </a>
            <div class="d-flex align-items-center justify-content-between">
                <p class="footer__description me-4">Daj znać, co możemy dla Ciebie zrobić!</p>
                <button type="button" class="button button--fill">Skontaktuj się z&nbsp;nami</button>
            </div>
        </div>
        <div
            class="footer__wrapper footer__wrapper--opposite d-flex flex-column align-items-center flex-md-row align-items-lg-center justify-content-md-between">
            <ul class="d-flex justify-content-between justify-content-md-start mb-5 mb-md-0">
                <li class="me-4 me-sm-5"><a class="nav__link nav__link--grey" href="#">Kontakt</a></li>
                <li class="me-4 me-sm-5"><a class="nav__link nav__link--grey" href="#">Instagram</a></li>
                <li class="me-4 me-sm-5"><a class="nav__link nav__link--grey" href="#">Facebook</a></li>
                <li><a class="nav__link nav__link--grey" href="#">LinkedIn</a></li>
            </ul>
            <ul class="d-flex flex-column align-items-center flex-sm-row align-items-sm-start">
                <li class="mb-3 mb-sm-0 me-sm-5"><a class="nav__link nav__link--grey"
                        href="tel:000000000">000-000-000</a>
                </li>
                <li><a class="nav__link nav__link--grey" href="mailto:giarddesign@kontakt.pl">giarddesign@kontakt.pl</a>
                </li>
            </ul>
        </div>
        <div class="copyrights d-flex flex-column flex-sm-row align-items-center justify-content-between">
            <p class="mb-4 mb-sm-0">Prawa zastrzeżone &copy; 2022</p>
            <div class="d-flex align-items-sm-center">
                <p class="me-3 mb-0 p-0">made by</p>
                <a href="https://adrespect.pl/">
                    <svg width="113" height="23" aria-labelledby="adrespect">
                        <title id="adrespect" lang="pl">logo agencji adrespect</title>
                        <use href="./images/icons.svg#icon-logo-adrespect"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>