<header class="header">
  <div class="container--header">
    <a class="logo" href="index.html">
      <svg width="115" height="20">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="header__wrapper">
      <nav>
        <ul class="nav position-relative">
          <li class="nav__item">
            <a href="#" class="nav__link">Oferta
              <svg class="nav__icon">
                <use href="./images/icons.svg#icon-arrow-nav"></use>
              </svg></a>
            <ul class="subnav">
              <li class="subnav__item subnav__item--top">
                <a href="#" class="nav__link">Projekty</a>
              </li>
              <li class="subnav__item"><a href="#" class="nav__link">Wizualizacje</a></li>
              <li class="subnav__item"><a href="#" class="nav__link">Realizacje</a></li>
            </ul>
          </li>
          <li class="nav__item"><a href="#about" class="nav__link">O firmie</a></li>
          <li class="nav__item"><a href="#projects" class="nav__link">Realizacje</a></li>
          <li class="nav__item"><a href="#contact" class="nav__link">Kontakt</a></li>
        </ul>
      </nav>
      <div class="search">
        <button class="search__button" type="button">
          <svg class="search__icon" aria-labelledby="search">
            <title id="search" lang="pl">lupa - przycisk szukaj</title>
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
        <input placeholder="Szukaj..." class="search__input" name="text" type="text" />
      </div>
    </div>
    <div class="mobile-menu js-open-menu" id="icon">
      <div class="mobile-menu__icon-1" id="a"></div>
      <div class="mobile-menu__icon-2" id="b"></div>
      <div class="mobile-menu__icon-3" id="c"></div>
      <div class="clear"></div>
    </div>
  </div>
</header>