<div id="slider" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <section class="hero position-relative">
        <div class="container container--hero m-0 m-xxl-auto">
          <div class="align-items-center">
            <div class="">
              <h1 class="hero__headline">Nowoczesna aranżacja Twojego ogrodu</h1>
              <p class="hero__descrp">
                Marka GiardDesign to wieloletnie doświadczenie i&nbsp;wysoka estetyka realizacji.
                Oferujemy kompleksowy zakres usług z&nbsp;indywidualnym podejściem do każdego
                projektu.
              </p>
              <div
                class="hero__wrapper d-grid gap-2 d-flex flex-wrap justify-content-md-start justify-content-between"
              >
                <button type="button" class="button button--fill me-sm-0 me-md-4 mb-0">
                  Skontaktuj się z nami
                </button>
                <a class="button button--transparent" href="#projects"
                  >Sprawdź nasze realizacje<svg
                    class="animate__animated animate__fadeInDown animate__slow button__icon ms-2"
                    width="16"
                    height="16"
                  >
                    <use href="./images/icons.svg#icon-arrow-small-bottom"></use></svg
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="hero__slider">
          <img
            class="hero__slider-photo"
            src="./images/hero-desktop.png"
            alt="Donice w kształcie grotów strzał widoczne od góry, skierowane w lewą stronę i wypełnione zielonymi roślinami"
            srcset="
              ./images/hero-desktop.png     688w,
              ./images/hero-desktop@2x.png 1376w,
              ./images/hero-desktop@3x.png 2064w
            "
            sizes="(min-width: 1400px) 688px, (min-width: 1200px) 588px, (min-width: 1024px) 488px, (min-width: 992px) 488px, (min-width: 768px) 348px, (min-width: 576px) 230px, (min-width: 320px) 100vw, 100vw"
          />
        </div>
      </section>
    </div>
    <div class="carousel-item">
      <section class="hero position-relative">
        <div class="container container--hero m-0 m-xxl-auto">
          <div class="align-items-center">
            <div class="">
              <h1 class="hero__headline">Nowoczesna aranżacja Twojego balkonu</h1>
              <p class="hero__descrp">
                Marka GiardDesign to wieloletnie doświadczenie i&nbsp;wysoka estetyka realizacji.
                Oferujemy kompleksowy zakres usług z&nbsp;indywidualnym podejściem do każdego
                projektu.
              </p>
              <div
                class="hero__wrapper d-grid gap-2 d-flex flex-wrap justify-content-md-start justify-content-between"
              >
                <button type="button" class="button button--fill me-sm-0 me-md-4 mb-0">
                  Skontaktuj się z nami
                </button>
                <a class="button button--transparent" href="#projects"
                  >Sprawdź nasze realizacje<svg
                    class="animate__animated animate__fadeInDown animate__slow button__icon ms-2"
                    width="16"
                    height="16"
                  >
                    <use href="./images/icons.svg#icon-arrow-small-bottom"></use></svg
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="hero__slider">
          <img
            class="hero__slider-photo"
            src="./images/hero-desktop-2.png"
            alt="Niewielka kamienica w stylu śródziemnomorskim z tarasem na pierwszym piętrze wypełnionym roślinami doniczkowymi."
            srcset="./images/hero-desktop-2.png 688w"
            sizes="(min-width: 1400px) 688px, (min-width: 1200px) 588px, (min-width: 1024px) 488px, (min-width: 992px) 488px, (min-width: 768px) 348px, (min-width: 576px) 230px, 100vw"
          />
        </div>
      </section>
    </div>
  </div>
  <div class="slider-nav">
    <button
      data-bs-target="#slider"
      data-bs-slide="prev"
      type="button"
      class="slider-nav__button slider-nav__button--space"
    >
      <svg class="slider-nav__icon">
        <use href="./images/icons.svg#icon-arrow-big-left"></use>
      </svg>
    </button>
    <button data-bs-target="#slider" data-bs-slide="next" type="button" class="slider-nav__button">
      <svg class="slider-nav__icon">
        <use href="./images/icons.svg#icon-arrow-big-right"></use>
      </svg>
    </button>
  </div>
</div>
