<div class="mobile-nav-wrapper js-menu-container" id="mobileMenu">
    <div class="mobile-input-wrapper d-flex align-items-center">
        <input placeholder="Szukaj..." class="mobile-input" name="text" type="text">
        <svg class="ms-2" width="30" height="30">
            <use href="./images/icons.svg#icon-search"></use>
        </svg>
    </div>
    <ul class="mobile-nav">
        <li class="mobile-nav__item">
            <a class="mobile-nav__link--dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                href="#programMobile">Oferta <svg class="ms-1" width="18" height="18">
                    <use href="./images/icons.svg#icon-arrow-nav"></use>
                </svg></a>
            <ul class="dropdown-menu">
                <li><a class="mobile-nav__link mobile-nav__link--sublink" href="#">Projekty</a></li>
                <li><a class="mobile-nav__link mobile-nav__link--sublink" href="#">Wizualizacje</a></li>
                <li><a class="mobile-nav__link mobile-nav__link--sublink" href="#">Realizacje</a></li>
            </ul>
        </li>
        <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#about" id="aboutLink">O firmie</a>
        </li>
        <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#projects" id="realLink">Realizacje</a>
        </li>
        <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#contact" id="contactLink">Kontakt</a>
        </li>
    </ul>
</div>