<section id="offer" class="offer">
  <div class="container container--offer p-0 m-0 m-xxl-auto d-flex flex-column align-items-center">
    <div class="offer__wrapper">
      <p class="subheadline">Oferta</p>
      <h2 class="headline">Działamy <span>kompleksowo</span></h2>
      <p class="description description--offer">
        Oferujemy kompletną obsługę inwestycji terenów zielonych. Projektujemy nowoczesne ogrody
        przydomowe oraz rezydencjonalne. Stworzymy dla&nbsp;Ciebie projekt, zwizualizujemy go i
        wcielimy w&nbsp;życie, a&nbsp;na każdym etapie posłużymy radą i&nbsp;wieloletnim
        doświadczeniem.
      </p>
    </div>
    <ul class="cards d-flex flex-wrap flex-lg-nowrap">
      <li class="animate__animated cards__item">
        <div>
          <img
            class="cards__image"
            width="40"
            height="40"
            src="./images/projects.svg"
            alt="ikona ołówka z gwiazdką"
          />
          <h3 class="cards__title">Projekty</h3>
          <p class="cards__description">
            Zaprojektujemy Twój ogród w&nbsp;nowoczesnym stylu&nbsp;i&nbsp;z&nbsp;najlepszym
            wykorzystaniem istniejącej przestrzeni.
          </p>
        </div>
        <a href="#" class="cards__link"
          >Dowiedz się więcej
          <svg class="ms-2" width="16" height="16">
            <use href="./images/icons.svg#icon-arrow-small-right"></use></svg
        ></a>
      </li>
      <li class="animate__animated cards__item">
        <div>
          <img
            class="cards__image cards__image--visuals"
            width="48"
            height="29"
            src="./images/visuals.svg"
            alt="ikona oko z gwiazdką w źrenicy"
          />
          <h3 class="cards__title">Wizualizacje</h3>
          <p class="cards__description">
            Przedstawimy Ci projekty koncepcyjne w&nbsp;postaci wirtualnego spaceru animowanego
            w&nbsp;technologii 3D.
          </p>
        </div>
        <a href="#" class="cards__link"
          >Dowiedz się więcej
          <svg class="ms-2" width="16" height="16">
            <use href="./images/icons.svg#icon-arrow-small-right"></use></svg
        ></a>
      </li>
      <li class="animate__animated cards__item">
        <div>
          <img
            class="cards__image"
            width="40"
            height="40"
            src="./images/reals.svg"
            alt="ikona trzy gwiazdki"
          />
          <h3 class="cards__title">Realizacje</h3>
          <p class="cards__description">
            Zrealizujemy Twoje marzenie przy użyciu najnowszych rozwiązań i&nbsp;zaawansowanych
            technologii.
          </p>
        </div>
        <a href="#" class="cards__link"
          >Dowiedz się więcej
          <svg class="ms-2" width="16" height="16">
            <use href="./images/icons.svg#icon-arrow-small-right"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
