<section id="projects" class="projects">
    <div class="container container--projects m-0 p-0">
        <div class="projects__wrapper">
            <p class="subheadline">Realizacje</p>
            <h2 class="headline headline--projects">Nasze <span>projekty</span></h2>
        </div>
        <div class="gallery__container position-relative">
            <div class="gallery__overlay"></div>
            <button class="button button--gallery translate-middle" type="button" id="showMore">Rozwiń <svg
                    class="animate__animated animate__fadeOutDown animate__infinite animate__slower button__icon ms-2"
                    width="16" height="16">
                    <use href="./images/icons.svg#icon-arrow-small-bottom"></use>
                </svg></button>
            <ul class="animate__animated animate__slower gallery" id="gallery">
                <li macy-complete="1"><a href="./images/project-1@2x.png" class="gallery__item"><img
                            class="gallery__image" src="./images/project-1.png"
                            alt="Schody z białą fasadą i szklaną balustradą na tle roślin doniczkowych"></a>
                </li>
                <li><a href="./images/project-2@2x.png" class="gallery__item"><img class="gallery__image"
                            src="./images/project-2.png" alt="Przydomowy ogród z basenem"></a></li>
                <li><a href="./images/project-3@2x.png" class="gallery__item"><img class="gallery__image"
                            src="./images/project-3.png" alt="Kwiecisty korytarz pełen czerwonych róż"></a></li>
                <li><a href="./images/project-5@2x.png" class="gallery__item"><img class="gallery__image"
                            src="./images/project-5.png" alt="Karpie koi w oczku wodnym pośród roślin"></a></li>
                <li><a href="./images/project-6@2x.png" class="gallery__item"><img class="gallery__image"
                            src="./images/project-6.png"
                            alt="Kamienna ścieżka pośród roślin w ogrodzie tropikalnym"></a></li>
                <li> <a href="./images/project-4@2x.png" class="gallery__item"><img class="gallery__image"
                            src="./images/project-4.png"
                            alt="Geometryczne patio zewnętrzne z miejscami do siedzenia i roślinami"></a></li>
                <li> <a href="./images/project-8@2x.png" class="gallery__item"><img class="gallery__image"
                            src="./images/project-8.png" alt="Przydomowy ogród z drewnianą altaną"></a></li>
                <li><a href="./images/project-7@2x.png" class="gallery__item"><img class="gallery__image"
                            src="./images/project-7.png" alt="Socrealistyczne, kręcone schody z drzewem po środku"></a>
                </li>
                <li><a href="./images/project-9@2x.png" class="gallery__item"><img class="gallery__image"
                            src="./images/project-9.png" alt="Element drewnianej altany ogrodowej"></a></li>
            </ul>
        </div>
    </div>
</section>