.contact {
  padding: 60px 0;
  background-color: $grey;
  &__wrapper {
    padding: 60px 20px;
    background-color: $green;
    width: 100%;
    max-width: 1040px;
    & div {
      @include media-breakpoint-up(lg) {
        margin-left: 0;
      }
    }
    @include media-breakpoint-up(md) {
      padding: 70px 60px;
    }
    @include media-breakpoint-up(lg) {
      padding: 120px 110px;
    }
  }
  &__headline {
    margin: 0;
    color: $grey;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -2px;
    max-width: 400px;
    margin-bottom: 32px;
    & span {
      font-family: 'Inter';
      font-size: 32px;
      font-style: italic;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 1px;
      @include media-breakpoint-up(s) {
        font-size: 40px;
      }
    }
    @include media-breakpoint-up(s) {
      font-size: 40px;
    }
    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
    @include media-breakpoint-up(lg) {
      max-width: 598;
    }
  }
  &__description {
    color: $grey;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.16px;
    margin-right: 22px;
    margin-bottom: 0;
    @include media-breakpoint-up(s) {
      margin-right: 32px;
    }
    @include media-breakpoint-up(sm) {
      margin-bottom: 24px;
    }
  }
}

.container--contact {
  width: 100%;
  max-width: 1400px;
}
