.header {
  background-color: $white;
  padding: 24px 20px;
  width: 100%;
  position: fixed;
  top: -1px;
  z-index: 997;
  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
  }
  &--border {
    border-bottom: 1.5px solid $black;
  }
}

.nav {
  display: none;
  &__link {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.14px;
    color: $black;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition-property: color;
    &:is(:focus-within, :hover) {
      color: $green;
      fill: $green;
    }
    &--grey {
      color: $grey;
    }
    &--dropdown {
      display: flex;
      align-items: center;
      font-family: 'Inter';
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: -0.14px;
      color: $black;
      text-decoration: none;
      transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
      transition-property: color;
      &:is(:focus-within, :hover) {
        color: $green;
        fill: $green;
      }
    }
  }
}

.container--header {
  width: 100%;
  max-width: 1400px;
  display: flex;
  align-items: center;
}

.search {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 24px 20px;
    display: flex;
    justify-content: center;
    &__wrapper {
      justify-content: flex-end;
      margin-right: 0;
    }
  }
  .nav {
    display: flex;
    &__item {
      margin-right: 48px;
      &:last-child {
        margin-right: 60px;
      }
    }
    &__link {
      display: flex;
      align-items: center;
      font-family: 'Inter';
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: -0.14px;
      color: $black;
      text-decoration: none;
      transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
      transition-property: color;
      &:is(:focus-within, :hover) {
        color: $green;
        fill: $green;
      }
      &--grey {
        color: $grey;
      }
    }
    &__icon {
      margin-left: 5px;
      width: 12px;
      height: 12px;
    }
  }

  .subnav {
    padding: 34px 14px 14px 14px;
    background-color: $white;
    position: absolute;
    top: 20px;
    left: -14px;
    opacity: 0;
    &__item {
      &--top {
        &::before {
          content: '';
          position: absolute;
          top: 24px;
          left: 0;
          height: 1px;
          width: 100%;
          background-color: $black;
        }
      }
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  .subnav:hover {
    visibility: visible;
    animation: offer 200ms ease-in-out;
    opacity: 1;
  }

  .nav__link:hover ~ .subnav {
    animation: offer 200ms ease-in-out;
    opacity: 1;
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &__button {
      background-color: $white;
      border: none;
      position: absolute;
      right: 0;
      width: 24px;
      height: 24px;
      cursor: pointer;
      transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
      transition-property: fill;
      &:is(:focus-within, :hover) {
        fill: $green;
      }
    }
    &__icon {
      width: 24px;
      height: 24px;
    }
    &__input {
      width: 0;
      border: none;
      border-bottom: 1px solid $black;
      padding-bottom: 1px;
      padding-left: 5px;
      margin-right: 10px;
      font-family: 'Inter';
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: -0.14px;
      transition: all 0.5s ease-in-out;
      &::placeholder {
        color: $black;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.14px;
      }
    }
  }

  .search__button:focus ~ .search__input,
  .search__input:focus {
    box-shadow: none;
    width: 250px;
    transition: all 500ms ease-in-out;
    outline: none;
    color: $black;
  }
}

@keyframes offer {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
